:root {
    --dark: #16161a;
    --light: #242629;
    --white: #fffffe;
    --purple: #7f5af0;
    --gray: #94a1b2;

    /* --blue: #3e5c76;
    --light-blue: #a8dadc;*/
    --tan: #f0ebd8;
    --red: #e63946;
}

* {
    padding: 0; 
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--gray);
    
}

.pic {
    width: 450px;
}

.bg-dark {
    background-color: var(--dark);
}

.bg-light {
    background-color: var(--light);
}

.white {
    color: var(--white)
}

.red {
    color: var(--red);
}

.container {
    margin: auto;
    padding: 2rem;
    max-width: 1024px;
}

footer {
    box-shadow: 0 50vh 0 50vh var(--dark);
}

header{ 
    padding-top: 3rem;
    padding-bottom: 3rem
}

.section {
    padding: 1rem;
}

.pb-small {
    padding-bottom: .5rem;
}

.pb-large {
    padding-bottom: 2rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column { 
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-2 {
    gap: 2rem;
}

.bold {
    font-weight: 500;
}

.small-text {
    font-size: .75rem;
}

.medium-text {
    font-size: 1.4rem;
}

.large-text {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}

.social {
    width: 24px;
    padding: .35rem;
}

.socials {
    width: 50px;
}

.card {
    border-radius: 1rem;
    padding: 1.5rem;
    width: 40%;
}

.w-40 {
    width: 40%;
}

ul {
    list-style-position: inside;
}

@media screen and (max-width:768px) {
    .md-flex-column {
        flex-direction: column;
    }

    .md-w-100 {
        width: 100%;
    }

    .md-center {
        align-items: center;
    }

    .md-text-center {
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .pic {
        width: 280px;
    }
}

@media screen and (max-width:425px) {
    .card {
        width: 280px;
    }
}